@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9FBFF;

    /* colors */
    --white-100: #FFFFFF;
    --white-200: #F6F6F6;

    --gray-100: #657593;

    --black-90: #101010;
    --black-100: #252525;

    --orange-100: #CC6237;

    --blue-90: #2A4D8E80;
    --blue-100: #2A4D8E;
  }
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}
